@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/public/fonts/*otf');

@layer base{
   @font-face {
       font-family: "notCSans";
       src: url("public/fonts/NotCourierSans.otf")
       format('otf');
   } 
   @font-face {
    font-family: "notCSansBold";
    src: url("public/fonts/NotCourierSans-Bold.otf")
    format('otf');
} 

#mainImage{
    height: 50vh;
}
}